<div>
    <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="novoModelo"
            data-bs-toggle="collapse" data-bs-target="#collapseNovoModelo"
            aria-expanded="false" aria-controls="collapseNovoModelo" onchange=handleNovoModelo()/>
        <label class="form-check-label" for="novoModelo"> Novo modelo?</label>
    </div>

    <div class="collapse" id="collapseNovoModelo">
        <div class="card card-body">
            <div class="mb-1">
                <label for="nomeNovoModelo" class="form-label">Nome do novo modelo*</label>
                <input type="text" class="form-control" name="nomeNovoModelo" id="nomeNovoModelo"/>
            </div>
            
            <div class="mb-1 mt-3 d-flex flex-column gap-1">
                <label class="form-label">Códigos temperaturas</label>
                <div class="d-flex flex-row gap-3 align-items-center">
                    <div>
                        <label class="form-label">OFF</label>
                    </div>
                    <div class="flex-fill">
                        <input type="text" class="form-control" name="tempOff"/>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3 align-items-center">
                    <div>
                        <label class="form-label">16°C</label>
                    </div>
                    <div class="flex-fill">
                        <input type="text" class="form-control" name="temp16" id="temp16"/>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3 align-items-center">
                    <div>
                        <label class="form-label">17°C</label>
                    </div>
                    <div class="flex-fill">
                        <input type="text" class="form-control" name="temp17" id="temp17"/>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3 align-items-center">
                    <div>
                        <label class="form-label">18°C</label>
                    </div>
                    <div class="flex-fill">
                        <input type="text" class="form-control" name="temp18" id="temp18"/>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3 align-items-center">
                    <div>
                        <label class="form-label">19°C</label>
                    </div>
                    <div class="flex-fill">
                        <input type="text" class="form-control" name="temp19" id="temp19"/>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3 align-items-center">
                    <div>
                        <label class="form-label">20°C</label>
                    </div>
                    <div class="flex-fill">
                        <input type="text" class="form-control" name="temp20" id="temp20"/>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3 align-items-center">
                    <div>
                        <label class="form-label">21°C</label>
                    </div>
                    <div class="flex-fill">
                        <input type="text" class="form-control" name="temp21" id="temp21"/>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3 align-items-center">
                    <div>
                        <label class="form-label">22°C</label>
                    </div>
                    <div class="flex-fill">
                        <input type="text" class="form-control" name="temp22" id="temp22"/>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3 align-items-center">
                    <div>
                        <label class="form-label">23°C</label>
                    </div>
                    <div class="flex-fill">
                        <input type="text" class="form-control" name="temp23" id="temp23"/>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3 align-items-center">
                    <div>
                        <label class="form-label">24°C</label>
                    </div>
                    <div class="flex-fill">
                        <input type="text" class="form-control" name="temp24" id="temp24"/>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3 align-items-center">
                    <div>
                        <label class="form-label">25°C</label>
                    </div>
                    <div class="flex-fill">
                        <input type="text" class="form-control" name="temp25" id="temp25"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>