/* Geral */
*{
    font-family: 'Francois One', sans-serif;
    color: #7964ff !important;
    border: none !important;
}
body{
    background-color: #F9F8F8 !important;
}
select{
    border: 1px solid #7964ff !important;
    color: #7964ff !important;
    cursor: pointer;
}
input[type="number"], input[type="text"], input[type="email"], input[type="password"]{
    border: 1px solid #7964ff !important;
}
input[type="range"]{
    border: 0px solid #FFFFFF !important;
}
label h1{
    display: inline-block;
    font-size: 4rem !important;
}
.form-control:focus{
    box-shadow: none !important;
}
.menu-lateral, .conteudo, .conteudo{
    padding: 0px !important;
}
.modal{
    border: 1px solid #7964ff;
}
.modal input{
    border: #7964ff 1px solid;
    color: #a698ff !important;
}
.modal .salvar button{
    color: white !important;
    background-color: #7964ff !important;
    border: #7964ff 1px solid;
}
.modal #escolha-curso button{
    border: #7964ff 1px solid;
}
.btn{
    border: 1px solid #7964ff !important;
    background: #FFFFFF !important;
}
.btn:hover{
    background-color: #6a53ff !important;
    color: #FFFFFF !important;
}
.card{
    border: 1px solid #7964ff !important;
}
.table td{
    vertical-align: middle;
}

/* Login */
.escolhas label, .escolhas a{
    font-size: 0.85em !important;
}
#container-card{
    height: 100vh;
    display: flex ;
    flex-direction: column;
    justify-content: center;
}

#card-login{
    box-sizing: border-box;
    border-top: 3px solid #6a53ff !important;
}
#card-login input{
    border: 1px solid #e6e6e6 !important;
}
#card-login input:focus{
    /* border: none !important; */
    box-shadow: none !important;
}
.botao input{
    border: #7964ff 1px solid;
    color: #FFFFFF !important;
    background-color: #7964ff !important;
    box-shadow: none !important;
}
.botao input:hover{
    border: #6a53ff 1px solid;
    color: #FFFFFF !important;
    background-color: #6a53ff !important;
}



.select-nulo {
    pointer-events: none;
    user-select: none;
}



/* background: linear-gradient(90deg, rgba(66,37,251,1) 0%, rgba(154,138,251,1) 100%);!important; */





/* Conteúdo - Home */
.container-conteudo{
    /* width: 100% !important; */
    padding: 1rem 5rem;
}
.container-conteudo .saudacao h2{
    color: #4F4F4F !important;
    display: inline !important;
}
.container-conteudo .saudacao h4{
    color: #4F4F4F !important;
    display: inline !important;
}
.container-conteudo .saudacao p{
    color: #4F4F4F !important;
    font-size: small;
}
.img-perfil img{
    width: 40%;
    border-radius: 50px;
    border: 2px solid #7964ff !important;
    padding: 1px; 
}
.controle-ar .card{
    border: 1px solid #7964ff !important;
    padding-left: 10px !important;
}
.controle-ar .card strong, .controle-ar .card button{
    color: #7964ff !important;
}
.onoff button{
    border: none;
    color: #7964ff;
    font-weight: 700;
    border: 1px solid #FFFFFF !important;
}
.onoff button:hover{
    background-color: #FFFFFF !important;
    border: #7964ff 1px solid !important;
    color: #7964ff;
}
.ar1, .ar2{
    flex-direction: column !important;
    text-align: center;
}
.ar1 p, .ar2 p{
    margin-bottom: 0px;
}
.temperatura{
    font-size: 3.25em;
    cursor: pointer;
}
.salas .card{
    border: 1px solid #7964ff;
    color: #7964ff !important;
}
.salas .card:hover{
    cursor: pointer;
    color: #FFFFFF !important;
}
.sala{
    width: 23% !important;
}
#salvar-temperatura button{
    background-color: #7964ff;
    border: 1px solid #7964ff;
    border-radius: 20px;
    color: #FFFFFF !important;
}
#trocaSala button{
    border: 1px solid #7964ff;
}
#trocaSala button:hover{
    background-color: #7964ff;
    color: #FFFFFF !important;
}
.salas .modal-content{
    background: linear-gradient(90deg, rgba(66,37,251,1) 0%, rgba(154,138,251,1) 100%);
    border: none;
    color: #FFFFFF !important;
}
.salas h4{
    color: #FFFFFF !important;
}
.salas button{
    border: 1px solid #FFFFFF !important;
    color: #4F4F4F !important;
}
.salas button:nth-child(2){
    background: transparent !important;
    border: 1px solid transparent !important;
    color: #FFFFFF !important;
}


/* Contúdo - Usuários */
.usuarios-top .botao button{
    border: 1px solid #7964ff;
}
.usuarios-top .botao button:hover{
    border: 1px solid #7964ff;
    color: #FFFFFF !important;
}
.usuarios-tabela td{
    background-color: #F9F8F8 !important;
}
.usuarios-pesquisa .input-group input{
    border: 1px solid #7964ff;
    border-radius: 10px;
}
.usuarios-pesquisa .input-group input::placeholder{
    color: #7964ff63;
}
.usuarios-pesquisa .input-group span{
    border: 1px solid #7964ff;
    border-radius: 10px;
    cursor: pointer;
}
.usuarios-tabela img{
    width: 0%;
    border-radius: 50px;
}
#excluir .modal-content{
    background: linear-gradient(87deg,#f5365c,#f56036)!important;
    border: none !important;
    color: #FFFFFF !important;
}
#excluir .modal-content p{
    color: #FFFFFF !important;
}
.excluir-bottom button:nth-child(1){
    color: #4F4F4F !important;
    font-size: small;
}
.excluir-bottom button:nth-child(2){
    border: 1px solid transparent !important;;
    background: transparent !important;
    color: #FFFFFF !important;
    font-size: small;
}


/* Conteúdo - Grade de Horários */
.grade-horarios td{
    cursor: pointer;
}
.grade-horarios td:hover{
    background-color: #a79bf541;
}
#salvar-grade button{
    border: 1px solid #7964ff !important;
    color: #7964ff !important;
}


#alterarAr .modal-content{
    background: linear-gradient(90deg, rgba(66,37,251,1) 0%, rgba(154,138,251,1) 100%);
    border: none !important;
}
#modal-temperatura{
    height: 40vh !important;    
}
.debug1, .debug2, .debug-mobile1, .debug-mobile2 {
    margin: 150px auto;
    width: 100%;
    text-align: center;
}
.debug1 input, .debug2 input, .debug-mobile1 input, .debug-mobile2 input{
    border: none !important;
    display: inline-block;
    font-size: 30px;
    width: 100px;
    background: transparent;
    color: #4379ff;
    text-align: center;
    font-family: monospace;
    position: fixed;
    top: 34%;
    left: 12%;
}

.circle, .circle-mobile1, .circle-mobile2 {
    position: absolute;
    top: 50%;
    left: 50%;
    background: linear-gradient(145deg, #d4d8d9, #fdffff);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    box-shadow:  20px 20px 60px #c9cccd;

    /* padding-bottom: 250px; */
    transform: translate3d(-50%, -50%, 0);
    margin-bottom: 15px;
}
.circle:before, .circle-mobile1:before, .circle-mobile2:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #ecf0f1;
    box-shadow: -20px -20px 60px #fff;
    border-radius: 50%;
    top: 5%;
    left: 5%;
}
.dot1, .dot2, .dot-mobile1, .dot-mobile2{
    position: absolute;
    width: 7%;
    height: 50%;
    left: 47.5%;
    top: 0;
    transform: rotate(0deg);
    transform-origin: center bottom;
}
.dot1:before, .dot2:before, .dot-mobile1:before, .dot-mobile2:before {
    content: "";
    position: absolute;
    background-color: #4379FF;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .1);
    width: 200%;
    transform: translate3d(-25%, -25%, 0);
    height: 0;
    padding-bottom: 200%;
    border-radius: 50%;
    cursor: pointer;
}
.debug,
.debug input{
    border: none !important;
    user-select: none !important;
}
#rangeArMobile1, #rangeArMobile2{
    user-select: none !important;
}

@media only screen and (min-width: 601px){
    /* Menu */
    .navbar{
        max-width: min-content !important;
        height: 100vh;
        position: fixed !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: -3px 0px 8px;
    } 
    .card{
        border: 1px solid #7964ff !important;
    }
    .navbar box-icon{
        margin: 7px !important;
    }
    .nav-link{
        display: flex;
        justify-content: center;
    }
    #logo{
        border-top: #7964ff 1px  solid;
        border-bottom: #7964ff 1px  solid;
        text-align: center;
    }
    #logo h1{
        color: white !important;
        font-family: 'Lobster Two', sans-serif;
        font-size: 2em !important;
        max-width: 4rem;
    }
    .nav-item{
        width: 4rem;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
    .nav-item:hover{
        background-color: #7964ff;
        cursor: pointer;
    }
    .menu-selecionado{
        background-color: #7964ff;
    }
    .navbar li{
        text-align: center;
    }
    .saudacao{
        display: inline-block;
    }
    .saudacao-mobile strong{
        display: none;
    }
    .img-perfil-mobile{
        display: none;
    }
    .controleArMobile1, .controleArMobile2{
        display: none !important;
    }
    .menu-inferior{
        display: none !important;
    }
    #table-mobile{
        display: none !important;
    }
    .container-conteudo .grade-top-mobile{
        display: none !important;
    }
    #table-desktop{
        border: 1px solid #7964ff !important;
    }
    .input-pesquisa-mobile{
        display: none !important;
    }
}
@media only screen and (max-width: 600px) {
    body{
        background: linear-gradient(180deg, rgb(16, 9, 59) 0%, rgba(154,138,251,1) 100%) !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    }
    p{
        font-weight: 100 !important;
    }
    h2{
        color: #FFFFFF !important;
    }
    h5{
        display: inline-block;
    }
    input[type="checkbox"]{
        width: min-content;
    }
    .menu-lateral{
        display: none;
    }
    .container-conteudo{
        padding: 0.5rem 0.65rem;
    }
    .saudacao{
        display: none;
    }
    .saudacao-mobile h2{
        font-size: 1.25rem !important;
        color: #FFFFFF !important;
        display: inline !important;
    }
    .saudacao-mobile h4{
        color: #FFFFFF !important;
        display: inline !important;
    }
    .img-perfil img{
        display: none;
    }
    .img-perfil-mobile img{
        width: 85% !important;
        border-radius: 50px;
        border: 2px solid #7964ff;
        padding: 1px; 
    }
    .controle-ar{   
        display: none !important;
 
    }
    .card-temperatura, .card-temperatura2{
        border-radius: 15px !important;
    }
    .card-temperatura1 .card, .card-temperatura2 .card{
        height: 300px;
    }
    .container-body{
        height: 100%;
        padding: 0px !important;
    }
    .menu-inferior{
        border-radius: 8px 8px 0px 0px;
        box-shadow: 0px -0.5px 5px 0px;
        padding: 0px !important;
    }
  
    box-icon{
        margin-bottom: 0px !important;
    }
    .nav-item p{
        font-size: 10px;
        margin: 0px;
        color: #686868 !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .nav-item .menu-selecionado p{
        color: #7964ff !important;
    }
    .menu-inferior ul{
       display: contents;
    }
    .menu-inferior li{
        width: 20%;
    }
    #table-desktop{
        display: none !important;
    }
    .container-conteudo .grade-top-desktop{
        display: none !important;
    }
    .table{
        font-size: 0.85em;
    }
    .table td{
        vertical-align: middle;
    }
    .footer{
        padding: 30px !important;
    }
    .input-pesquisa-desktop{
        display: none !important;
    }
    .botao #desktop{
        display: none !important;
    }
    .botao #mobile{
        border: none !important;
        vertical-align: middle;
    }
    #escolheCurso .modal-body input{
       min-width: 15px;
    }

    /* Estilos personalizados para o multiselect */
    .custom-multiselect {
        position: relative;
        border: 1px solid #7964ff !important;
        border-radius: 7px !important;
      }
  
      .custom-multiselect select {
        display: none;
      }
  
      .custom-multiselect .select-box {
        cursor: pointer;
        padding: 8px 12px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        background-color: #fff;
        position: relative;
      }
  
      .custom-multiselect .select-box:after {
        content: '\25BC';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
      }
  
      .custom-multiselect .options {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        border: 1px solid #037ffc;
        border-top: none;
        border-radius: 0 0 4px 4px;
        z-index: 1000;
        background-color: #FFFFFF;
      }
  
      .custom-multiselect .options.active {
        display: block;
        border: 1px solid rgb(167, 167, 167) !important;
        border-radius: 7px;
      }
  
      .custom-multiselect .options label {
        display: block;
        padding: 8px 12px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
  
      .custom-multiselect .options label:hover {
        background-color: rgb(178, 178, 238);
        color: #FFFFFF !important;
      }
}
#modal-temperatura{
    height: 40vh !important;    
}
.debug1, .debug2, .debug-mobile1, .debug-mobile2 {
    margin: 150px auto;
    width: 100%;
    text-align: center;
}
.debug1 input, .debug2 input, .debug-mobile1 input, .debug-mobile2 input{
    display: inline-block;
    font-size: 30px;
    width: 100px;
    background: transparent;
    color: #4379ff;
    text-align: center;
    font-family: monospace;
    position: fixed;
    top: 34%;
    left: 12%;
}

.circle, .circle-mobile1, .circle-mobile2 {
    position: absolute;
    top: 50%;
    left: 50%;
    background: linear-gradient(145deg, #d4d8d9, #fdffff);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    box-shadow:  20px 20px 60px #c9cccd;

    /* padding-bottom: 250px; */
    transform: translate3d(-50%, -50%, 0);
    margin-bottom: 15px;
}
.circle:before, .circle-mobile1:before, .circle-mobile2:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #ecf0f1;
    box-shadow: -20px -20px 60px #fff;
    border-radius: 50%;
    top: 5%;
    left: 5%;
}
.dot1, .dot2, .dot-mobile1, .dot-mobile2{
    position: absolute;
    width: 7%;
    height: 50%;
    left: 47.5%;
    top: 0;
    transform: rotate(0deg);
    transform-origin: center bottom;
}
.dot1:before, .dot2:before, .dot-mobile1:before, .dot-mobile2:before {
    content: "";
    position: absolute;
    background-color: #4379FF;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .1);
    width: 200%;
    transform: translate3d(-25%, -25%, 0);
    height: 0;
    padding-bottom: 200%;
    border-radius: 50%;
    cursor: pointer;
}
.debug,
.debug input{
    border: none !important;
    user-select: none !important;
}
#rangeArMobile1, #rangeArMobile2{
    user-select: none !important;
}

@media only screen and (min-width: 601px){
    /* Menu */
    .navbar{
        max-width: min-content !important;
        height: 100vh;
        position: fixed !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: -3px 0px 8px;
    } 
    .navbar box-icon{
        margin: 7px !important;
    }
    .nav-link{
        display: flex;
        justify-content: center;
    }
    #logo{
        border-top: #7964ff 1px  solid;
        border-bottom: #7964ff 1px  solid;
        text-align: center;
    }
    #logo h1{
        color: white !important;
        font-family: 'Lobster Two', sans-serif;
        font-size: 2em !important;
        max-width: 4rem;
    }
    .nav-item{
        width: 4rem;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
    .nav-item:hover{
        background-color: #7964ff;
        cursor: pointer;
    }
    .menu-selecionado{
        background-color: #7964ff;
    }
    .navbar li{
        text-align: center;
    }
    .saudacao{
        display: inline-block;
    }
    .saudacao-mobile strong{
        display: none;
    }
    .img-perfil-mobile{
        display: none;
    }
    .controleArMobile1, .controleArMobile2{
        display: none !important;
    }
}
@media only screen and (max-width: 600px) {
    body{
        background: linear-gradient(180deg, rgba(66,37,251,1) 0%, rgba(154,138,251,1) 100%) !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    }
    p{
        font-weight: 100 !important;
    }
    h5{
        display: inline-block;
    }
    input[type="checkbox"]{
        width: min-content;
    }
    .menu-lateral{
        display: none;
    }
    .container-conteudo{
        padding: 0.5rem 0.65rem;
    }
    .saudacao{
        display: none;
    }
    .saudacao-mobile h2{
        font-size: 1.25rem !important;
        color: #FFFFFF !important;
        display: inline !important;
    }
    .saudacao-mobile h4{
        color: #FFFFFF !important;
        display: inline !important;
    }
    .img-perfil img{
        display: none;
    }
    .img-perfil-mobile img{
        width: 85% !important;
        border-radius: 50px;
        border: 2px solid #7964ff;
        padding: 1px; 
    }
    .controle-ar{
        display: none !important;
 
    }
    .card-temperatura, .card-temperatura2{
        border-radius: 15px !important;
    }
    .card-temperatura1 .card, .card-temperatura2 .card{
        height: 300px;
    }
}