/* Login */
#container-card{
    height: 100vh;
    display: flex ;
    flex-direction: column;
    justify-content: center;
}

#card-login{
    border-top: 3px solid rgb(97, 97, 255);
}



/* Menu */
i{
    font-size: 2rem;
    color: white;
}
.container-fluid{
    padding: 0px !important;
}
.navbar{
    width: min-content;
    height: 100vh;
    flex-direction: column;
    
} 
.nav-item{
    width: 4rem;
}
.nav-item:hover{
    background-color: #7964ff;
}
.navbar li{
    text-align: center;
}
