<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Gerenciar Salas</title>
</head>
<body>
    <form action="">

        <label for="predioSala">Prédio:</label>
        <select id="predioSala" name="predioSala" required>
            <option value="predio-1">Prédio 1</option>
            <option value="predio-2">Prédio 2</option>
        </select>
        
        <label for="nomeSala">Nome/Número da Sala:</label>
        <input type="text" id="nomeSala" name="nomeSala" required>

        <select id="controlador" name="controlador" required>
            <option value="controlador-1">Controlador 1</option>
            <option value="controlador-2">Controlador 2</option>
        </select>

        <button>Cadastrar</button>

    </form>
</body>
</html>