<!DOCTYPE html>
<html lang="pt-br">
    <%- include('./partials/header.ejs')%>

<body class="container-fluid">
    <div class="row d-flex">
        <%- include('./partials/nav.ejs')%>
        <div class="col-11 container-conteudo">
            <div class="container-conteudo row justify-content-between">
                <h1>SALAS</h1>
            </div>
        </div>
    </div>
</body>

</html>