<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/header.ejs')%>

<body class="container-fluid">

    <div class="row d-flex">
        <%- include('./partials/nav.ejs')%>

        <div class="col-11 container-conteudo">
            <div class="container-conteudo">
                <div class="row hitorico d-flex justify-content-between">
                    <div class="titulo d-flex justify-content-start col-8">
                        <h2>Histórico de Acesso</h2>
                    </div>
                </div>

                <table class="table table-hover  text-center mt-5">
                    <thead>
                        <tr>
                            <th scope="col">USUÁRIO</th>
                            <th scope="col">PERMISSÃO</th>
                            <th scope="col">AÇÃO</th>
                            <th scope="col">DATA</th>
                            <th scope="col">HORA</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#alterarProfessor">Junin do Churras</td>
                            <td>Administrador</td>
                            <td>Cadastrou um novo usuário (Blue Pen - Usuário - Professor)</td>
                            <td>30/02/2002</td>
                            <td>00:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <script>
        // Inicializa os popovers
        var popovers = new bootstrap.Popover(document.body, {
            selector: '[data-bs-toggle="popover"]',
            container: 'body',
            trigger: 'hover'
        });

        // Inicializa os modais
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', () => {
            myInput.focus()
        })

    </script>

</body>

</html>
