<!doctype html>
<html lang="pt-br">
<%- include('./partials/header.ejs') %>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
            </script>


        <div class="container-alert d-flex justify-content-center">
            <div id="alerta" class="alert alert-danger justify-content-center position-absolute mt-3" role="alert" style="display: none; z-index: 10;">
                Usuário ou senha incorretos! Tente novamente.
            </div>
        </div>

        <div id="container-card" class="container justify-content-center">
            <div class="row justify-content-around">
                <div id="card-login" class="card col-4 pb-3 pl-3 pr-3 justify-content-center">  
                    <div class="d-flex justify-content-around pt-3">
                        <img width="75" src="/img/logo_ifnmg.png" alt="">
                        <img width="75" src="/img/LogoSmartCor2.png" alt="">
                    </div>                  
                    <hr>
                    <p class="mt-3" style="text-align: center; margin: 0px;">Preencha os campos para entrar</p>
                    <form action="/login">
                        <div class="card-body">
                            <div class="row mt-4 col-mb-12">
                                <div class="input-group">
                                    <input name="email" type="email" placeholder="Usuário" class="form-control">
                                    <span class="input-group-text">
                                        <box-icon name='user' type='solid' color="#7964ff"></box-icon>
                                    </span>
                                </div>
                                <div class="email error"></div>
                            </div>
                            <div class="row">
                                <div class="mt-2 input-group">
                                    <input name="senha" type="password" placeholder="Senha" class="form-control">
                                    <span class="input-group-text">
                                        <box-icon name='lock-alt' type='solid' color="#7964ff"></box-icon>
                                    </span>
                                </div>
                                <div class="senha error"></div>
                            </div>
                            <div class="row mt-4 mb-4">
                                <a href="#" class="link-underline link-underline-opacity-0" style="color:#7964ff;">
                                    Recuperar senha
                                </a>
                            </div>
                        </div>
                        <div id="botao" class="row botao justify-content-around">
                            <input onclick="carregando()" type="submit" value="Entrar" class="col-10 btn btn-primary">
                        </div>
                        <div id="botao_loading" class="row justify-content-around" hidden>
                            <button class="col-10 btn disabled">
                                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                <!-- <span role="status">Carregando...</span> -->
                            </button>
                        </div>
                    </form>
                    
                    <!-- <p class="mb-3 mt-3" style="text-align: center; margin: 0px;">ou</p>

                    <a href="/auth/google/login">
                        <button class="btn col-12 login_google d-flex justify-content-">
                            <div class="d-flex icon_google col-auto">
                                <box-icon name='google' type='logo' color='#7964ff' ></box-icon>
                            </div>
                            <div class="d-flex texto_google justify-content-center col-11">
                                Continuar com o Google
                            </div>
                        </button>  
                    </a> -->
                </div>
            </div>
        </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    </body>

</html>

<!-- <%- include('./partials/footer.ejs') %> -->

<script>
    const form = document.querySelector('form')
    const emailErr = document.querySelector('.email.error')
    const senhaErr = document.querySelector('.senha.error')

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        emailErr.textContent = ''
        senhaErr.textContent = ''

        const email = form.email.value
        const senha = form.senha.value

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ email, senha }),
                headers: { 'Content-Type': 'application/json' }
            })

            const data = await res.json()
            if (data.success) {
                location.assign('/')
            }

            if (data.errorEmail || data.errorSenha) {
                abre_alert()
            }

        } catch (error) {
            console.log(error)
        }
    })

    //Configuração de Alertas
    var alerta = document.getElementById('alerta');
    alerta.style.display = 'none'; // Esconde o alerta antes de qualquer submissão

    function abre_alert() {
        alerta.style.display = 'block'
        setTimeout(fecha_alert, 4000)
        document.getElementById('botao_loading').setAttribute('hidden', true);
        document.getElementById('botao').style.display = 'flex';
    }
    function fecha_alert() {
        alerta.style.display = 'none'
    }
    
    //Loading
    function carregando(){
        document.getElementById('botao').style.display = 'none';
        document.getElementById('botao_loading').removeAttribute('hidden');
    }
</script>