<%- include('./partials/header.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <h1>Seja bem-vindo</h1>
    <h3><%= user.nome%></h3>
</body>


<%- include('./partials/footer.ejs') %>