<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/header.ejs')%>

    <body class="container-fluid">

        <div class="row d-flex">
            <%- include('../partials/nav.ejs')%>
                <div class="col-11 container-conteudo">
                    <div class="container-conteudo">
                        <div class="row usuarios-top d-flex justify-content-between">
                            <div class="titulo d-flex justify-content-start col-8">
                                <h2>Salas</h2>
                            </div>
                            <div class="botao d-flex justify-content-end col-3">
                                <button type="button" class="btn" data-bs-target="#"
                                    data-bs-toggle="modal">Adicionar</button>
                            </div>
                        </div>

                        <div id="salasContainer" class="row salas mt-5 justify-content-between">
                            
                        </div>
                    </div>
                </div>
    </body>
</html>