<!-- Modal -->
<div class="modal fade" id="alterarProfessor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="alterarProfessorLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="alterarProfessorLabel">Alterar Professor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
            
                        <label for="area" class="form-label">Área:</label>
                        <select id="area" class="form-select">
                            <option selected>Computação</option>
                            <option value="1">Engenharia Elétrica</option>
                            <option value="2">Engenharia Química</option>
                            <option value="3">Técnico Informática</option>
                            <option value="4">Matemática</option>
                            <option value="5">Física</option>
                            <option value="6">Técnico Informática</option>
                            <option value="7">Edificações</option>
                            <option value="8">Ensino Médio</option>
                        </select>
                        <label for="area" class="form-label mt-4">Professor:</label>
                        <select id="area" class="form-select">
                            <% usuarios.forEach(usuario=> { %>
                                <option value="<%= usuario.id %>">
                                    <%= usuario.nome %>
                                </option>
                                <% }) %>
                        </select>
                    <div class="col-12 d-flex justify-content-end" id="salvar-grade">
                        <button type="submit" class="btn btn-primary mt-5 col-3">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>