<nav class="navbar fixed-bottom bg-body-tertiary menu-inferior">
    <div class="container-fluid">
        <ul class="navbar-nav justify-content-around">
            <li class="nav-item justify-content-center" >
                <a class="nav-link text-center menu-selecionado" href="#">
                    <box-icon name='home' color='#7964ff' ></box-icon>
                    <p>Home</p>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link active text-center" href="historico.html">
                    <box-icon name='time' type='solid' color='#686868' ></box-icon>
                    <p>Histórico</p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active text-center" href="grade.html">
                    <box-icon name='grid' color='#686868' ></box-icon>
                    <p>Grade</p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active text-center" href="usuarios.html">
                    <box-icon name='user' type='solid' color='#686868'></box-icon>
                    <p>Usuários</p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active text-center" aria-current="page" href="#">
                    <box-icon name='cog' type='solid' color='#686868' ></box-icon>
                    <p>Configurações</p>
                </a>
                </li>
        </ul>
    </div>
</nav>