<div class="col-1 menu-lateral">
    <nav class="navbar" style="background-color: #634AFE;">
        <ul class="navbar-nav justify-content-center">
            <div id="logo" class="mb-3 mt-4">
                <h1>A</h1>
            </div>
            <li class="nav-item justify-content-center" id="home" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Home" >
                <a class="nav-link" aria-current="page" href="/">
                    <box-icon name='home' color='#ffffff' ></box-icon>
                </a>
            </li>
            
            <li class="nav-item" id="historico" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Logs">
                <a class="nav-link active" aria-current="page" href="/logs">
                    <box-icon name='time' type='solid' color='#ffffff' ></box-icon>
                </a>
            </li>
            <li class="nav-item" id="grade" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Grade de Horários">
                <a class="nav-link active" aria-current="page" href="/grade">
                    <box-icon name='grid' color='#ffffff' ></box-icon>
                </a>
            </li>
            <li class="nav-item" id="usuarios" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Usuários">
                <a class="nav-link active" aria-current="page" href="/usuario">
                    <box-icon name='user' type='solid' color='#ffffff' ></box-icon>
                </a>
            </li>
            <li class="nav-item" id="configuracoes"  data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Configurações">
                <a class="nav-link active" aria-current="page" href="/predio">
                    <box-icon name='cog' type='solid' color='#ffffff' ></box-icon>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav item">
            <li class="nav-item" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Log Out">
                <a class="nav-link" href="/login">
                    <box-icon name='exit' color='#ffffff' ></box-icon>
                </a>
            </li>
        </ul>
    </nav>
</div>