<div class="col-1 menu-lateral">
    <nav class="navbar" style="background-color: #634AFE;">
        <ul class="navbar-nav justify-content-center">
            <div id="logo" class="mb-5 mt-4">
                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M58.5427 11.9091L58.5961 11.921H58.6508C59.0866 11.921 59.494 12.3095 59.5 12.8407V16.2362C59.5 16.7734 59.0932 17.161 58.658 17.161H58.603L58.5493 17.1729L56.6333 17.5996L56.3538 17.6618L56.266 17.9344C56.0805 18.5109 55.8534 19.0592 55.591 19.587L55.467 19.8365L55.6139 20.0732L56.6401 21.7265L56.6675 21.7706L56.7033 21.8082C57.0414 22.1622 57.0447 22.7665 56.7009 23.1315L54.4404 25.5315L54.4381 25.534C54.1206 25.8758 53.6017 25.8795 53.2739 25.5315L53.2376 25.493L53.1941 25.4629L51.5507 24.3277L51.3022 24.156L51.0346 24.2961C50.534 24.5582 50.0076 24.783 49.4697 24.9565L49.1894 25.0469L49.1326 25.336L48.7523 27.2712L48.7429 27.319V27.3676C48.7429 27.9049 48.3362 28.2924 47.9009 28.2924H44.7004C44.2651 28.2924 43.8584 27.9049 43.8584 27.3676V27.3187L43.8489 27.2707L43.4471 25.2364L43.3924 24.9596L43.1271 24.8633C42.5878 24.6676 42.0742 24.4279 41.5792 24.1505L41.3063 23.9976L41.0494 24.176L39.4922 25.2579L39.4479 25.2887L39.4112 25.3283C39.0937 25.6701 38.5748 25.6738 38.247 25.3258L35.9865 22.9257L35.9841 22.9233C35.646 22.5692 35.6427 21.9649 35.9865 21.6L36.0215 21.5628L36.0483 21.5192L37.1176 19.7821L37.2585 19.5532L37.1452 19.3094C36.8971 18.7753 36.684 18.213 36.5194 17.6377L36.4375 17.3515L36.1469 17.2871L34.3241 16.8833L34.2707 16.8714H34.216C33.7808 16.8714 33.374 16.4839 33.374 15.9467V12.5486C33.374 12.0113 33.7808 11.6238 34.216 11.6238H34.27L34.3228 11.6123L36.2388 11.1932L36.5198 11.1318L36.608 10.858C36.7935 10.2815 37.0206 9.73323 37.283 9.20543L37.4066 8.95684L37.2609 8.72051L36.2419 7.06718L36.2143 7.02232L36.1779 6.98421C35.8398 6.63019 35.8365 6.02588 36.1802 5.66091L38.4407 3.26091L38.4407 3.26092L38.4431 3.2584C38.7606 2.91659 39.2795 2.91284 39.6073 3.26091L39.6436 3.29942L39.6871 3.32948L41.3304 4.46472L41.5789 4.6364L41.8465 4.49629C42.3472 4.23415 42.8736 4.00934 43.4114 3.83586L43.6918 3.74544L43.7486 3.45642L44.1289 1.52118L44.1383 1.47343V1.42476C44.1383 0.887512 44.545 0.5 44.9802 0.5H48.1736C48.6088 0.5 49.0156 0.887512 49.0156 1.42476V1.47368L49.0251 1.52166L49.4269 3.55595L49.4816 3.8328L49.7469 3.92906C50.2862 4.12476 50.7998 4.36449 51.2948 4.6419L51.5677 4.79479L51.8245 4.61634L53.3818 3.53443L53.4261 3.50365L53.4628 3.46411C53.7803 3.12231 54.2992 3.11856 54.627 3.46663L56.8803 5.85902L56.8827 5.86151C57.2208 6.21552 57.2241 6.81984 56.8803 7.1848L56.845 7.22237L56.818 7.26636L55.7488 9.01112L55.6086 9.23978L55.7216 9.48301C55.9697 10.0171 56.1828 10.5794 56.3474 11.1547L56.4293 11.4409L56.7199 11.5053L58.5427 11.9091Z" fill="#9888FE" stroke="#5846CC"/>
                    <path d="M44.5281 20.3048C44.4707 20.3048 44.4133 20.2895 44.3631 20.2667C44.2052 20.1829 44.1263 20 44.1622 19.8171L45.1022 15.6495L42.8704 15.6114C42.7269 15.6114 42.5978 15.52 42.5403 15.3829C42.4829 15.2457 42.4973 15.0857 42.5906 14.9638L47.6426 8.28953C47.7502 8.14476 47.944 8.09905 48.0947 8.18286C48.2526 8.26667 48.3315 8.44953 48.2956 8.63238L47.3556 12.8L49.5874 12.8381C49.7309 12.8381 49.86 12.9295 49.9175 13.0667C49.9749 13.2038 49.9605 13.3638 49.8672 13.4857L44.8152 20.16C44.7434 20.2514 44.6358 20.3048 44.5281 20.3048ZM43.6455 14.8343L45.5759 14.8648C45.6907 14.8648 45.7983 14.9257 45.8629 15.0171C45.9347 15.1086 45.9562 15.2381 45.9347 15.3524L45.2745 18.2857L48.8123 13.6152L46.8819 13.5848C46.7671 13.5848 46.6595 13.5238 46.5949 13.4324C46.5231 13.341 46.5016 13.2114 46.5231 13.0971L47.1833 10.1638L43.6455 14.8343Z" fill="white"/>
                    <path d="M36.1882 27.4594L36.242 27.4714H36.2971C37.0277 27.4714 37.6844 28.1193 37.6844 28.9752V33.7524C37.6844 34.6096 37.0337 35.2562 36.2971 35.2562H36.242L36.1882 35.2682L33.49 35.8701L33.2091 35.9327L33.1222 36.2071C32.8644 37.0207 32.5443 37.8111 32.1691 38.5561L32.0436 38.8054L32.1899 39.0431L33.6252 41.3745L33.652 41.418L33.687 41.4552C34.2376 42.0398 34.2376 43.0193 33.687 43.6039L30.5008 46.9867C29.9662 47.5543 29.0937 47.5543 28.5592 46.9867L28.5231 46.9484L28.4798 46.9185L26.1691 45.3185L25.92 45.146L25.6518 45.287C24.9375 45.6625 24.1886 45.979 23.4191 46.2293L23.1402 46.32L23.0832 46.6077L22.545 49.3277L22.5355 49.3758V49.4248C22.5355 50.282 21.8848 50.9286 21.1482 50.9286H16.6487C15.9121 50.9286 15.2614 50.282 15.2614 49.4248V49.3758L15.2519 49.3277L14.685 46.4629L14.6299 46.1846L14.3626 46.0891C13.5999 45.8167 12.8584 45.4782 12.1593 45.0814L11.8858 44.9261L11.6274 45.1054L9.43149 46.6292L9.38847 46.6591L9.35257 46.6972C8.818 47.2648 7.94555 47.2648 7.41098 46.6972L4.22476 43.3143C3.67415 42.7297 3.67415 41.7503 4.22476 41.1657L4.25995 41.1283L4.28682 41.0846L5.79382 38.6312L5.93463 38.402L5.82092 38.1582C5.46597 37.3971 5.16648 36.5985 4.92964 35.7776L4.84745 35.4927L4.55808 35.4282L1.99618 34.8568L1.94242 34.8448H1.88733C1.15072 34.8448 0.5 34.1982 0.5 33.341V28.5638C0.5 27.7066 1.15072 27.06 1.88733 27.06H1.94243L1.9962 27.048L4.69444 26.4461L4.97531 26.3834L5.06223 26.1091C5.31998 25.2955 5.64016 24.5051 6.01529 23.7601L6.14083 23.5108L5.9945 23.2731L4.55927 20.9417L4.53248 20.8982L4.49745 20.861C3.94685 20.2764 3.94685 19.2969 4.49745 18.7123L7.68367 15.3295C8.21825 14.7619 9.09069 14.7619 9.62526 15.3295L9.66134 15.3678L9.7046 15.3977L12.0153 16.9977L12.2644 17.1702L12.5326 17.0292C13.2469 16.6537 13.9959 16.3372 14.7653 16.0869L15.0443 15.9962L15.1012 15.7085L15.6394 12.9885L15.6489 12.9404V12.8914C15.6489 12.0342 16.2996 11.3876 17.0362 11.3876H21.5357C22.2723 11.3876 22.923 12.0342 22.923 12.8914V12.9404L22.9326 12.9885L23.4995 15.8533L23.5546 16.1316L23.8218 16.2271C24.5845 16.4994 25.326 16.8379 26.0251 17.2348L26.2987 17.3901L26.557 17.2108L28.7529 15.687L28.796 15.6571L28.8319 15.619C29.3664 15.0514 30.2389 15.0514 30.7735 15.619L33.9597 19.0019C34.5103 19.5864 34.5103 20.5659 33.9597 21.1505L33.9245 21.1879L33.8976 21.2316L32.3906 23.685L32.2498 23.9142L32.3635 24.158C32.7185 24.9191 33.0179 25.7176 33.2548 26.5386L33.337 26.8235L33.6264 26.888L36.1882 27.4594Z" fill="#F9F8F8" stroke="#4C3BB5"/>
                    <path d="M29.3147 36.7771L27.0039 35.36L29.2573 34.2857C29.5228 34.1638 29.6376 33.8286 29.5228 33.5543C29.408 33.2724 29.0922 33.1505 28.8339 33.2724L25.8916 34.6743L23.1288 32.9829V29.3257L25.8916 27.6343L28.8339 29.0362C28.9056 29.0667 28.9774 29.0819 29.0491 29.0819C29.2501 29.0819 29.4367 28.96 29.5228 28.7543C29.6376 28.4724 29.5228 28.1448 29.2573 28.0229L27.0039 26.9486L29.3147 25.5314C29.5658 25.379 29.6519 25.0362 29.5084 24.7771C29.3649 24.5105 29.042 24.419 28.798 24.5714L26.4872 25.9886L26.7384 23.3829C26.7671 23.0781 26.559 22.8038 26.272 22.7733C25.9849 22.7429 25.7266 22.9638 25.6979 23.2686L25.3678 26.6743L22.6049 28.3657L19.6268 26.5371V23.1467L22.239 21.1429C22.4758 20.96 22.526 20.6171 22.3538 20.3657C22.1815 20.1143 21.8586 20.061 21.6218 20.2438L19.6197 21.7752V18.9409C19.6197 18.6362 19.3828 18.3848 19.0958 18.3848C18.8087 18.3848 18.5719 18.6362 18.5719 18.9409V21.7752L16.5698 20.2438C16.333 20.061 16.01 20.1219 15.8378 20.3657C15.6656 20.6171 15.723 20.96 15.9526 21.1429L18.5648 23.1467V26.5371L15.5866 28.3657L12.8238 26.6743L12.4937 23.2686C12.465 22.9638 12.2138 22.7429 11.9196 22.7733C11.6326 22.8038 11.4245 23.0781 11.4532 23.3829L11.7043 25.9886L9.3936 24.5714C9.14244 24.419 8.82668 24.5105 8.68316 24.7771C8.53964 25.0438 8.62575 25.379 8.87692 25.5314L11.1876 26.9486L8.93433 28.0229C8.66881 28.1448 8.55399 28.48 8.66881 28.7543C8.75492 28.96 8.94868 29.0819 9.14244 29.0819C9.2142 29.0819 9.28596 29.0667 9.35772 29.0362L12.3 27.6343L15.0628 29.3257V32.9829L12.3 34.6743L9.35772 33.2724C9.0922 33.1505 8.78363 33.2724 8.66881 33.5543C8.55399 33.8362 8.66881 34.1638 8.93433 34.2857L11.1876 35.36L8.87692 36.7771C8.62575 36.9295 8.53964 37.2724 8.68316 37.5314C8.77645 37.7067 8.95585 37.8057 9.13526 37.8057C9.22137 37.8057 9.31466 37.7829 9.3936 37.7295L11.7043 36.3124L11.4532 38.9181C11.4245 39.2229 11.6326 39.4971 11.9196 39.5276C11.9411 39.5276 11.9555 39.5276 11.9698 39.5276C12.2354 39.5276 12.4578 39.3143 12.4865 39.0324L12.8166 35.6267L15.5795 33.9352L18.5576 35.7638V39.1619L15.9454 41.1657C15.7086 41.3486 15.6584 41.6914 15.8306 41.9429C15.9311 42.0952 16.089 42.1714 16.254 42.1714C16.3617 42.1714 16.4693 42.1409 16.5626 42.0648L18.5648 40.5333V43.3676C18.5648 43.6724 18.8016 43.9238 19.0886 43.9238C19.3757 43.9238 19.6125 43.6724 19.6125 43.3676V40.5333L21.6146 42.0648C21.7079 42.1333 21.8156 42.1714 21.9232 42.1714C22.0883 42.1714 22.2461 42.0952 22.3466 41.9429C22.5188 41.6914 22.4614 41.3486 22.2318 41.1657L19.6125 39.1619V35.7714L22.5906 33.9429L25.3534 35.6343L25.6835 39.04C25.7122 39.3219 25.9347 39.5352 26.2002 39.5352C26.2146 39.5352 26.2361 39.5352 26.2504 39.5352C26.5375 39.5048 26.7456 39.2305 26.7169 38.9257L26.4657 36.32L28.7765 37.7371C28.8554 37.7905 28.9487 37.8133 29.0348 37.8133C29.2142 37.8133 29.3936 37.7143 29.4869 37.539C29.6448 37.2724 29.5587 36.9295 29.3147 36.7771ZM22.0739 32.9829L19.0958 34.8114L16.1177 32.9829V29.3257L19.0958 27.4971L22.0739 29.3257V32.9829Z" fill="#7964FF"/>
                </svg>
            </div>
            <li class="nav-item justify-content-center" id="home" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Home" >
                <a class="nav-link" aria-current="page" href="/">
                    <box-icon name='home' color='#ffffff' ></box-icon>
                </a>
            </li>

            <% if (user.role_id === 1 || user.role_id === 2) { %>
                <li class="nav-item" id="historico" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Logs">
                    <a class="nav-link active" aria-current="page" href="/logs">
                        <box-icon name='time' type='solid' color='#ffffff' ></box-icon>
                    </a>
                </li>
                <li class="nav-item" id="grade" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Grade de Horários">
                    <a class="nav-link active" aria-current="page" href="/grade">
                        <box-icon name='grid' color='#ffffff' ></box-icon>
                    </a>
                </li>
                <li class="nav-item" id="usuarios" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Usuários">
                    <a class="nav-link active" aria-current="page" href="/usuario">
                        <box-icon name='user' type='solid' color='#ffffff' ></box-icon>
                    </a>
                </li>
                <% } %>
                <% if (user.role_id === 2) { %>
                    
                    <li class="nav-item" id="gerenciamento" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Gerenciamento de Salas">
                        <a class="nav-link active" aria-current="page" href="/predio">
                            <box-icon name='sitemap' color='#ffffff' ></box-icon>
                        </a>
                    </li>
                 
                    <li class="nav-item" id="configuracoes"  data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Configurações">
                        <a class="nav-link active" aria-current="page" href="/#">
                            <box-icon name='cog' type='solid' color='#ffffff' ></box-icon>
                        </a>
                    </li>


                <% } %>
        </ul>
        <ul class="navbar-nav item">
            <li class="nav-item" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Log Out">
                <a class="nav-link" href="/auth/google/logout">
                    <box-icon name='exit' color='#ffffff' ></box-icon>
                </a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script>
    // Inicializa os popovers
    var popovers = new bootstrap.Popover(document.body, {
            selector: '[data-bs-toggle="popover"]',
            container: 'body',
            trigger: 'hover'
        }); 
</script>