<div class="modal fade" id="adicionaUsuario" aria-hidden="true" aria-labelledby="adicionaUsuarioLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Novo Usuário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row justify-content-between">
                        <div class="col-6">
                            <label for="nome" class="form-label">Nome*:</label>
                            <input autocomplete="off" type="text" class="form-control" id="nome" required>
                        </div>
                        <div class="col-3">
                            <label for="tipo" class="form-label">Tipo*:</label>
                            <select id="tipo" class="form-select">
                                <option selected>Padrão</option>
                                <option value="1">Administrador</option>
                                <option value="2">Manutenção</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="usuario" class="form-label">Usuário*:</label>
                            <input autocomplete="off" type="text" class="form-control" id="usuario" required>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-8">
                            <label for="email" class="form-label">Email*:</label>
                            <input autocomplete="off" type="text" class="form-control" id="email" required>
                        </div>
                        <div class="col-4">
                            <label for="senha" class="form-label">Senha*:</label>
                            <input autocomplete="off" type="text" class="form-control" id="senha" required>
                        </div>
                    </div>
                    <div class="col-4 mt-4" id="escolha-curso">
                        <label for="curso" class="form-label">Curso(s):</label><br>
                        <button type="button" id="curso" class="btn" onclick="escolhaCurso()"
                            data-bs-target="#escolheCurso" data-bs-toggle="modal">Escolher</button>
                    </div>
                    <div class="row col-12 d-flex justify-content-end salvar">
                        <button type="submit" class="btn btn-primary mt-5 col-2">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('./escolherCurso') %>