<form method="POST" action="/usuario/store">
    <div class="modal fade" id="adicionaUsuario" aria-hidden="true" aria-labelledby="adicionaUsuarioLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Novo Usuário</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-between">
                        <div class="col-6">
                            <label for="nome" class="form-label">Nome*:</label>
                            <input name="nome" autocomplete="off" type="text" class="form-control" id="nome" required>
                        </div>
                        <div class="col-3">
                            <label for="role" class="form-label">Tipo*:</label>
                            <select name="role_id" id="role" class="form-select">
                                <% roles.forEach(role => { %>
                                    <option value="<%= role.id %>"> <%= role.nome %> </option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="usuario" class="form-label">Usuário*:</label>
                            <input name="nickname" autocomplete="off" type="text" class="form-control" id="usuario"
                                required>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-8">
                            <label for="email" class="form-label">Email*:</label>
                            <input name="email" autocomplete="off" type="email" class="form-control" id="email"
                                required>
                        </div>
                        <div class="col-4">
                            <label for="senha" class="form-label">Senha*:</label>
                            <input name="senha" autocomplete="off" type="text" class="form-control" id="senha" required>
                        </div>
                    </div>
                    <div class="col-4 mt-4" id="escolha-curso">
                        <label for="curso" class="form-label">Área(s):</label><br>
                        <button id="btnCurso" type="button" onclick="guardaDadosInputs()" class="btn" data-bs-target="#escolheCurso" data-bs-toggle="modal">Escolher</button>
                        <div id="areaUsuario" class="mt-3" hidden></div>
                    </div>
                    <div class="row col-12 d-flex justify-content-end salvar">
                        <button type="submit" class="btn btn-primary mt-5 col-2">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    var nome, funcao, usuario, email, senha;

    //Guarda dados dos inputs antes de prosseguir para o outro modal
    function guardaDadosInputs(){
        nome = document.getElementById('nome').value;
        funcao = document.getElementById('role').value;
        usuario = document.getElementById('usuario').value;
        email = document.getElementById('email').value;
        senha = document.getElementById('senha').value;
    }


    //Recuperar dados dos inputs
    function preencheInputs(){
        console.log(nome)
        document.getElementById('nome').value = nome;
        document.getElementById('role').value = funcao;
        document.getElementById('usuario').value = usuario;
        document.getElementById('email').value = email;
        document.getElementById('senha').value = senha;
    }

    //Executar ações quando modal fecha
    document.getElementById('adicionaUsuario').addEventListener('hidden.bs.modal', function (event) {
        document.getElementById('nome').value = '';
        document.getElementById('role').value = '';
        document.getElementById('usuario').value = '';
        document.getElementById('email').value = '';
        document.getElementById('senha').value = '';
        document.getElementById('areaUsuario').hidden = true;

    });
</script>