<div class="modal fade" id="escolheCurso" aria-hidden="true" aria-labelledby="escolheCursoLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="escolheCursoLabel">Cursos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-2">
                <form>
                    <div class="form-check">
                        <input name="cursos" class="form-check-input" type="checkbox" value="" id="computacao">
                        <label class="form-check-label" for="computacao">Ciência da
                            Computação</label>
                    </div>
                    <div class="form-check">
                        <input name="cursos" class="form-check-input" type="checkbox" value="" id="eletrica">
                        <label class="form-check-label" for="eletrica">Engenharia Elétrica</label>
                    </div>
                    <div class="form-check">
                        <input name="cursos" class="form-check-input" type="checkbox" value="" id="quimica">
                        <label class="form-check-label" for="quimica">Engenharia Química</label>
                    </div>
                    <div class="form-check">
                        <input name="cursos" class="form-check-input" type="checkbox" value="" id="eletrotecnica">
                        <label class="form-check-label" for="eletrotecnica">Técnico em
                            Eletrotécnica</label>
                    </div>
                    <div class="form-check">
                        <input name="cursos" class="form-check-input" type="checkbox" value="" id="seguranca">
                        <label class="form-check-label" for="seguranca">Técnico em Segurança do
                            Trabalho</label>
                    </div>
                    <div class="form-check">
                        <input name="cursos" class="form-check-input" type="checkbox" value=""
                            id="informatica-internet">
                        <label class="form-check-label" for="informatica-internet">Técnico em
                            Informática para Internet</label>
                    </div>
                    <div class="form-check">
                        <input name="cursos" class="form-check-input" type="checkbox" value="" id="informatica">
                        <label class="form-check-label" for="informatica">Técnico em
                            Informática</label>
                    </div>
                    <div class="form-check">
                        <input name="cursos" class="form-check-input" type="checkbox" value="" id="edificacoes">
                        <label class="form-check-label" for="edificacoes">Técnico em
                            Edificações</label>
                    </div>
                    <div class="form-check">
                        <input name="cursos" class="form-check-input" type="checkbox" value="" id="t-quimica">
                        <label class="form-check-label" for="t-quimica">Técnico em Química</label>
                    </div>
                    <div class="form-check">
                        <input name="cursos" class="form-check-input" type="checkbox" value="" id="medio">
                        <label class="form-check-label" for="medio">Ensino Médio</label>
                    </div>
                    <div class="row col-12 d-flex justify-content-center salvar">
                        <button type="button" class="btn btn-primary col-4  mt-4" onclick="preencheInputs()"
                            data-bs-target="#adicionaUsuario" data-bs-toggle="modal">Escolher</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>