<!-- Modal -->
<div class="modal fade" id="excluir" tabindex="-1" aria-labelledby="excluirLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="excluir-topo">
                    <strong><p>Excluir usuário</p></strong>
                </div>
                <div class="excluir-corpo text-center mt-5">
                    <box-icon name='trash' color='#ffffff' size='lg'></box-icon>
                    <p>Você realmente deseja excluir o usuário?</p>
                </div>
                <div class="excluir-bottom d-flex justify-content-between text-center mt-5">
                     <button class="btn excluir-confirma">EXCLUIR</button>
                     <button class="btn" data-bs-dismiss="modal">CANCELAR</button>
                </div>
            </div>
        </div>
    </div>
</div>