<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/header.ejs')%>
<body class="container-fluid">

    <div class="row d-flex">
        <%- include('../partials/nav.ejs')%>
        
        <div class="col-11 container-conteudo">
            <div class="container-conteudo">
                <div class="row usuarios-top d-flex justify-content-between">
                    <div class="titulo d-flex justify-content-start col-8">
                        <h2>Usuários</h2>
                    </div>
                    <div class="botao d-flex justify-content-end col-3">
                        <button class="btn btn-outline-primary">Adicionar</button>
                    </div>
                </div>
                <div class="row usuarios-pesquisa mt-5 d-flex justify-content-center">
                    <div class="input-pesquisa col-5">
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchInput" placeholder="Pesquisar..." aria-label="Username" aria-describedby="basic-addon1" oninput="searchUsers()">
                            <span class="input-group-text" id="basic-addon1">
                                <box-icon name='search' color='#7964ff' ></box-icon>
                            </span>
                        </div>
                    </div>
                    
                </div>
                
                <table class="table usuarios-tabela table-sm mt-5 text-center">
                    <tbody>
                        <% usuarios.forEach(usuario=> { %>
                            <tr>
                                <td><%= usuario.nome %></td>
                                <td><%= usuario.credencial.email %></td>
                                <td><a href=""><box-icon name='trash-alt' type='solid' color='#ff6467'></box-icon></a></td>
                                <td><a href=""><box-icon name='edit-alt' type='solid' color='#fcff64'></box-icon></a></td>                             
                            </tr>
                        <% }); %>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <script>
    // Inicializa os popovers
    var popovers = new bootstrap.Popover(document.body, {
        selector: '[data-bs-toggle="popover"]',
        container: 'body',
        trigger: 'hover'
    });
    </script>

</body>
</html>
