<!-- Modal -->
<div class="modal fade remove" id="excluir_<%= usuarioId %>" tabindex="-1" aria-labelledby="excluirLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="usuario/remove/<%= usuarioId %>" method="post">
                    <div id="excluir-topo">
                        <strong>
                            <p>Excluir usuário</p>
                        </strong>
                    </div>
                    <div class="excluir-corpo text-center mt-5">
                        <box-icon name='trash' color='#ffffff' size='lg'></box-icon>
                        <p>Você realmente deseja excluir o usuário <%= nome %>? </p>
                    </div>
                    <div class="excluir-bottom d-flex justify-content-between text-center mt-5">
                        <button type="submit" class="btn excluir-confirma">EXCLUIR</button>
                        <button class="btn" data-bs-dismiss="modal">CANCELAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>