<div class="modal fade" id="updatePassword_<%= usuario.id %>" aria-hidden="true" aria-labelledby="escolheCursoLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="escolheCursoLabel">Editar senha</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-2">
                <div>
                    <form action="/usuario/update/<%= usuario.id %>" method="post">
                        <p>
                            <%= usuario.nome %>
                        </p>
                        <div class="col-full mb-2">
                            <label for="novaSenha" class="form-label">Senha*:</label>
                            <input type="password" name="novaSenha" id="novaSenha" class="form-control" oninput="updatePass()" required>
                        </div>

                        <div class="col-full mb-2">
                            <label for="confirmNovaSenha" class="form-label">Confirme a senha*:</label>
                            <input type="password" name="confirmNovaSenha" id="confirmNovaSenha" class="form-control" oninput="updatePass()" required>
                        </div>

                        <div class="mt-4 text-center">
                            <button disabled type="submit" class="btn btn-primary" id="btnUpdatePass">
                                Atualizar senha
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function updatePass() {

        let btnAtualizar = document.getElementById('btnUpdatePass');
        const novaSenha = document.getElementById('novaSenha').value;
        const confirmNovaSenha = document.getElementById('confirmNovaSenha').value;

        if (novaSenha == confirmNovaSenha) btnAtualizar.disabled = false
        else btnAtualizar.disabled = true

    }
</script>